/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        SelectLine: SelectLine {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "SELECTLINE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans    &kp Q             &kp Y      &mt LALT O  &mt LCTRL U  &kp EQUAL    &kp X            &mt RCTRL L  &mt RALT D  &kp P    &kp Z  &trans
&kp B     &kp C             &lt 7 I    &mt LGUI A  &mt LSHFT E  &kp MINUS    &kp K            &mt RSHFT H  &mt RGUI T  &lt 8 N  &kp S  &kp W
&sk BSLH  &kp SINGLE_QUOTE  &kp COMMA  &kp PERIOD  &kp SEMI     &kp FSLH     &kp J            &kp M        &kp G       &kp F    &kp V  &kp GRAVE
                                       &lt 1 ESC   &lt 2 SPACE  &lt 3 RET    &lt 4 BACKSPACE  &lt 5 R      &lt 6 DEL
            >;
        };

        Media {
            bindings = <
&trans  &trans  &sk LCTRL  &sk LALT  &sk LCTRL  &trans    &trans  &kp C_VOLUME_DOWN  &kp K_MUTE  &kp C_VOLUME_UP  &trans  &trans
&trans  &trans  &trans     &sk LGUI  &sk LSHFT  &trans    &trans  &kp K_PREV         &kp K_PP    &kp K_NEXT       &trans  &trans
&trans  &trans  &trans     &trans    &trans     &trans    &trans  &trans             &trans      &trans           &trans  &trans
                           &trans    &trans     &trans    &trans  &trans             &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &sk LCTRL  &sk LALT  &sk LCTRL  &trans    &trans  &kp HOME       &kp UP       &kp END      &trans  &trans
&trans  &trans  &trans     &sk LGUI  &sk LSHFT  &trans    &trans  &kp LEFT       &kp DOWN     &kp RIGHT    &trans  &trans
&trans  &trans  &trans     &trans    &trans     &trans    &trans  &kp PAGE_DOWN  &kp PAGE_UP  &SelectLine  &trans  &trans
                           &trans    &trans     &trans    &trans  &trans         &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans          &mmv MOVE_UP    &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans     &trans          &trans          &trans           &trans  &trans
                        &trans  &trans  &trans    &mkp RCLK  &mkp LCLK       &mkp MCLK
            >;
        };

        Symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Function {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
